#banner
{
    float: right;
margin: -154px 14px -1px 18px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
  }
  .menu
  {
    margin: 10px 1opx 1opx 10px;
  }
  #leftmenu
  {
    float: left;
    margin: 10px 1opx 1opx 10px;
  }

  #rightmenu
  {
    float: left;
    margin: 10px 1opx 1opx 10px;
  }
  #main p{
    font-size: 20px;
    line-height: 1.5em;
  }


